.tic-tac-toe-game{
  /*border: 1px solid red;*/
  /*display: flex;*/
  /*width: 300px;*/
  display: inline-block;
}

.c{
  display: flex;
}

.tic-tac-toe-square{
  height: 100px;
  width: 100px;
  border: 1px solid black;
  font-size: 42px;
  text-align: center;
  line-height: 100px;
}

.template{
  display: none;
}

/* for debugging */
/*
*{
  outline: 1px dotted red;
}*/
